<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP API POST INSTRUCTIONS</title>
</head>
<body>
    This API performs natural language processing on POST requests.
    <br>Supported services:
    <br><p style="margin-left: 40px">Parts of Speech Tagging </p>
    <br><p style="margin-left: 40px">Word Frequency Counting </p>
    <br><p style="margin-left: 40px">Sentiment Analysis </p>
    <br><p style="margin-left: 40px">Return N-Grams </p>
    <br>
    <br>Required JSON POST format:
    <br>{
    <br><p style="margin-left: 40px">text: "string to perform nlp on" </p>
    <br><p style="margin-left: 40px">service: "POS, WRDFREQ, SENTIMENT, NGRAMS, or ALL" </p>
    <br><p style="margin-left: 40px">pos_tags: "noun, verbs, or all" </p>
    <br><p style="margin-left: 40px">gram_num: "an integer for n_grams" </p>
    <br>}

</body>
</html>